.vs/

DotnetBase.Domain/bin/
DotnetBase.Domain/obj/

DotnetBase.Infrastructure/bin/
DotnetBase.Infrastructure/obj/

DotnetBase.Api/bin/
DotnetBase.Api/obj/
DotnetBase.Api/logs/

DotnetBase.Application/bin/
DotnetBase.Application/obj/

DotnetBase.Media/bin/
DotnetBase.Media/obj/
DotnetBase.Media/logs/
DotnetBase.Media/wwwroot/
